
.global-bar {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #666666;
    -fx-border-style: solid;
}

.editor-bar {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #666666;
    -fx-border-style: solid;
}

.bar {
    -fx-padding: 2;
}

.slot-pager {
    -fx-page-information-visible: false;
    -fx-arrows-visible: false;
}

/* ========== KNOB CONTROL =========== */

.knob {
    -fx-background-color: lightgrey;
    -fx-background-width: 50;
}

.knob-edge {
    -fx-fill: linear-gradient(to bottom right, #FFFFFF, #AAAAAA);
    -fx-stroke: #333333;
    -fx-stroke-width:1.5;
}

.knob-line {
    -fx-stroke: #333333;
    -fx-stroke-width:1.5;
}
.knob-center {
    -fx-fill: #DDDDDD;
}

.knob-thumb {
    -fx-stroke: #333333;
    -fx-stroke-width:1.5;
}
