
.gfont {
    -fx-font-size: 10px;
    -fx-line-spacing: -2px;
}

.global-bar {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #666666;
    -fx-border-style: solid;
}

.editor-bar {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #666666;
    -fx-border-style: solid;
}

.bar {
    -fx-padding: 2;
    -fx-alignment: center-left;
}

.slot-tabs {
    -fx-tab-min-width: 16px;
}
.slot-tabs .tab-header-area {
    -fx-padding: 0;
}

.slot-tab {
    -fx-border-width: 4px 0px 0px 0px;
    -fx-border-color: #444444;
    -fx-border-style: solid;
    -fx-background-color: #e8e8e8;
}

.slot-keyboard {
    -fx-border-color: #FF0000;
}

.slot-enabled {
    -fx-background-color: cyan;
}

.var-button:selected {
    -fx-background-color: cyan;
}

.g2-toggle:selected {
    -fx-background-color: cyan;
}

/* ========== KNOB CONTROL =========== */

.knob {
    /* -fx-background-color: lightgrey; */
    -fx-background-width: 50;
}

.knob-edge {
    -fx-fill: linear-gradient(to bottom right, #FFFFFF, #AAAAAA);
    -fx-stroke: #333333;
    -fx-stroke-width:1.5;
}

.knob-line {
    -fx-stroke: #333333;
    -fx-stroke-width:1.5;
}
.knob-center {
    -fx-fill: #DDDDDD;
}

.knob-thumb {
    -fx-stroke: #333333;
    -fx-stroke-width:1.5;
}
